* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
@media only screen and  (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media only screen and (max-width:768){

  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../src/assets/Montserrat-VariableFont_wght.ttf);
    font-family: 'League Spartan';
    src: url(../src/assets/LeagueSpartan-VariableFont_wght.ttf);
}



.HeaderContainer{
    margin-top: 15px !important;
    margin-left: 76px !important;
}



.BrandTitle a{
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: #DAD2BB;
}

.BrandTitle a:hover{
    color: #DAD2BB;
}


.BrandLinks a {
    background-image: linear-gradient(
      to right,
      #000,
      #000 50%,
      #32302b 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
 .BrandLinks a:before {
    content: '';
    background: #BCCBBA;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
 .BrandLinks a:hover {
   background-position: 0;
  }
  
 .BrandLinks a:hover::before {
    width:100%;
  }

.BrandComponents{
    margin-right: 5rem !important;
}
.BrandComponents a{
    background-color: #F6F6F6;
    padding: 12px;
    border-radius: 8px;
    transition: 0.4s;
}

.BrandComponents a:hover{
    background-color: #C8CFC8;
}

.MainContainer{
    padding-top: 3rem !important;
    padding-left: 10rem !important;
}

.LoginClass{
    margin-top: 70px ;
}

.LoginForm input{
    color: #606060;
    border-radius: 0;
    align-items: center;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: solid 1px;
    padding: 11px;
}


.LoginForm h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;

}


.input-group-addon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px; /* Width of the eye icon */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.input-group-addon a{
    color: #606060;
}

.ForgotPassword{
    color: #748C70 !important;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
}

.LoginButton{
    width: 100%;
    background-color:#D9DDBD !important;
    color:#748C70 !important;
    border-radius: 0 !important;
    border-color: #D9DDBD !important ;
}

.SignInReminder{
    margin-top: 4rem !important;
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.SignInReminder  label{
    color: #0C0C0C !important;
    font-size: 14px !important;
}

.SignInReminder a{
    color: #748C70;
    display: inline;
    margin-left: .5rem;
    
}

.SocialMedia h3{
    margin-top: .8rem;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.SocMedPics{
    text-align: center;
}


.SocialMedia a{
    color:#748C70 ;
}

footer{
    margin-top: 3rem;
}


.CreditContainer{
    margin-top: 10rem;
    bottom: 0;
    text-align: center;
    padding: 1rem 0 1rem 0 ;
    background-color: #C8CFC8;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #637883;
}

.CreditContainer img{
    margin-bottom: .3rem;
}

.FooterIcons{
    background-color: #C8CFC8;
    color: #637883;
    
}

.FooterIcons svg{
    display: inline;
    height:24px ;
    width: 24px;
    margin: 0 5px 0 5px;
    color: white;
}

/* Registration */
.Registerbutton{
    width: 100%;
    background-color:#D9DDBD !important;
    color:#748C70 !important;
    border-radius: 0 !important;
    border-color: #D9DDBD !important ;
}

/* Home */


.HomeBodyContainer{
    margin-top: 7rem !important;
}


.FirstLayerText span{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #BCCBBA;
}

.FirstLayerText h1{
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #BCCBBA;
}

.FirstLayerContainer{
    display: flex;
    align-items: center;
    
}

.back-video{

    border-radius: 10%;
    
}

.ShopNowButton{
    width: 30%;
    margin-left: 6rem;
    background-color: #BCCBBA !important;
    
    
}

.FirstLayerContainer .btn{
    --bs-btn-font-family: 'Montserrat', sans-serif;
    --bs-btn-font-weight: 600;
    color: white;
    
}

hr{
    position:relative;
    opacity: 1 !important;

    border-top: none !important;
    margin-top: 10rem !important;
}

.BestSellerTitle{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.favorite-button {
    background: none;
    border: none;
    border-color: black;
    color: black; /* Change the color to your preferred color */
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    z-index: 6; /* Ensure the heart button appears above the image */
}

.favorite-button.clicked {
    color: red; /* Change the color to your preferred color when clicked */
}

.favorite-button.clicked i::before {
    content: "\f004"; /* Replace the heart icon with a filled heart (Font Awesome icon) */
}


.favorite-button i {
    margin-right: 2rem; /* Add some spacing between the heart icon and the text */
    
}
.favorite-button:hover {
    transform: scale(1.1); /* Scale the button on hover */
    transition: transform 0.5s; /* Add a smooth transition effect */
}

.product-container{
    position: relative;
}
.pricecontainer{
    display: -webkit-box;
}

.pricecontainer h3 {  
    margin-top: 2rem;
    font-size: 16px;
    font-weight: bold;
    margin-inline-end: 6rem;
    font-family: 'Montserrat', sans-serif;
}

.SecondLayer span{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}


.CollectionTitle{
    margin-top: 9rem;
    margin-bottom: 1rem;
}

.ThirdLayer{
    display: inline-flex;
    width: 100%;
    
}

.ThirdLayer button{
    margin: 10px;   
    width: 100%;
    background-color: white;
    color: black;
    border-color: black;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    --bs-btn-active-bg: #BCCBBA !important;
    --bs-btn-active-color: black !important;
}

.ThirdLayer button:hover{
    background-color:#BCCBBA ;
    color: black;
    border-color: black;
}

.ThirdLayer button:focus{
    background-color:#BCCBBA;
}



.FourthLayerContainer{
    margin-top: 5rem;
    margin-inline-end: 3rem;
    display: flex;
    justify-content: center;
}

.fourth-favorite-button {
    background: none;
    border: none;
    border-color: black;
    color: black; /* Change the color to your preferred color */
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    z-index: 6; /* Ensure the heart button appears above the image */
}

.fourth-favorite-button i {
    margin-right: 3.5rem; /* Add some spacing between the heart icon and the text */
    
}

.fourthpricecontainer{
    display: -webkit-box;
}

.fourthpricecontainer h3 {  
    margin-top: 2rem;
    font-size: 12px;
    font-weight: bold;
    margin-inline-end: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.fourth-favorite-button.clicked {
    color: red; /* Change the color to your preferred color when clicked */
}

.fourth-favorite-button.clicked i::before {
    content: "\f004"; /* Replace the heart icon with a filled heart (Font Awesome icon) */
}

/* Product */



.ShopHero{
    display: -webkit-box;
    overflow: hidden;
}
.ShopFirstLayer{
    margin-top: 2.5rem;
    display: -webkit-box;
    font-family: 'Montserrat', sans-serif;
    
}

.ImagesContainer{
    background-color: #F6F6F6;
    width: 12rem;
    height: 35rem;
    display: flex;
    justify-content: center;
}



.ShopSubImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.scroll-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.ShopSubImages img{
    margin-bottom: .8rem;
}

.ShopMainImage img{
    height: 35rem;
}

.ShopSecondLayer{
    margin: .7rem 0rem 0rem 7em;
    font-family: 'Montserrat', sans-serif;
}

.ShopSort a{
    text-decoration: none;
    color: #807D7E;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem .3rem 0rem .3rem;
    font-size: 1rem;
}

.ShopSort span{
    font-size: 1rem;
    color: #807D7E;
}
.ShopProductTitle{
    width: 60%;
    margin-top: 1rem;
}

.ShopProductTitle h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.ShopRating{
    display: -webkit-box;
    -webkit-box-align:center;
}

.ShopRatingStars i{
    margin-right: .5rem;
}

.ShopRatingNumber span{
    margin-left: .2rem;
    font-size: .8rem;
}

.ShopRatingNumber i{ 
    margin-left: .5rem;
}

.ShopSize{
    margin-top: 1rem;
}

.ShopSizeTitle{
    display: flex;
}

.ShopSizeTitle h4{
    color: #3f46467a;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
}

.ShopSizeTitle h5{
    font-size: .9rem;
    margin-left: 1.5rem;
}

.ShopSizeTitle i{
    margin-left: .3rem;
}

.ShopSizeButton{
    margin-top: .9rem;
       
}

.ShopSizeButton button{
    
    margin-top: .5rem !important;
    border: 1px solid;
    margin-left: 1rem;
    font-size: .9rem; 
    --bs-btn-padding-x: 0.6rem;
    --bs-btn-padding-y: 0.2rem;
}

.ShopSizeButton button:hover{
    color: white;
    background-color: #3C4242;
    border: 1px solid;
    margin-left: 1rem;
}

.ShopColor{
    margin-top: 1.7rem;
    
    
}
.ShopColorButton{
    margin-left: 1rem;
    display: inline-flex;
}

.ShopColor h4{
    color: #3f46467a;
    font-weight: 100;
    font-style: italic;
    font-size: .9rem;
}




/* Styles for the unhovered buttons */
.ShopColor button {
    width: 1.7rem;
    height:1.7rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 1rem;
    transition: all 0.2s; /* Smooth transition for all properties */
}

/* Define colors for buttons */
.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.red {
    background-color: red;
}

/* Styles for the hovered button */
.ShopColor button:hover {
    width: 1.75rem; /* Adjust the button width as needed */
    height: 1.75rem; /* Adjust the button height as needed */
    border: 0.3px solid none; /* Add a border on hover */
    border-radius: 100%; /* Make it fully round on hover */
}

/* Reset the other buttons on hover */
.ShopColor button:hover ~ .ShopColor button {
    width: 2.1rem;
    height: 2.1rem;
    border: none;
    border-radius: 50%;
}

.ShopProductProcess{
    margin-top: 1rem;
    
}

.ProductPrice span{
    font-size: 1rem;
}
.ProductProcessButton{
    margin-top: 1rem;
}

.ProductProcessButton i{
    margin-right: .5rem;
}

.ProductProcessButton button{
    color: white;
    border: solid 1px;
    width: 12rem;
    background-color: #5A6D57;
    font-size: 1rem;
}

.ProductProcessButton button:hover{
    background-color: #5A6D57;
    color: white;
}

.ProductPrice hr{
    opacity: 1 !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;

}

.ProductReminder{
    margin-top: 1rem;
}
.ProductReminderText span{
    margin-right: 1rem;
    
}

.ShopThirdLayer{
    display: flex;
}
.ShopProductProperty{
    margin: 3rem 0rem 0rem 1rem;
}

.ShopProductProperty h2{
    font-size: 1.7rem;
}

.ShopProductDescription{
    margin-top: 3rem;
    margin-left: 1rem;
}

.ShopProductDescription span{
    font-weight: bold;

}

.ShopProductDescription p{
    margin-top: .5rem;
    width: 70%;
}

.ShopProductDesign{
    margin-left: 1rem;
}

.ShopProductDesignRow h4{
    margin-top: 1rem;
    font-size: 1.1rem;
}

.ShopProductDesignRow span{
    font-size: .9rem;
}

.ShopUserComment{
    width: 80%;
    text-align: center;
    margin-right: 5rem;
    margin-top: 3rem;
}

.ShopUserCommentTable tr{
    margin-bottom: 10rem;
}
.ShopUserCommentTable table{
    border: 1px solid #ADADAD;
    background-color: #F0F2EF;
}

.ShopUserCommentTable th{
    border-bottom: 2px solid #ADADAD;
    font-weight: 400;
}

.ShopUserCommentTableUsername{
    display: flex;
    justify-content: space-around;
    padding: .5rem 0rem .5rem 0rem;
}

.ShopUserCommentTableData{
    margin: 1rem 1rem 1rem 1rem;
    text-align: justify;
}

.ShopSimilarProductContainer{
    margin: 3rem 0rem 0rem 1rem;
    
}


.ShopSimilarProduct h2{
    font-size: 1.7rem;
    color: #807D7E;
}

/* Shop Page */
.CollectionSecondContainer{
    display: -webkit-inline-box;
    overflow: hidden;
}

.CollectionContainer{
    font-family: 'Montserrat', sans-serif;
}

.CollectionSecondHero{
    width: 20%;
}

.CollectionSeller h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 1.5rem 0rem 1rem 0rem;
}
.CollectionSort{
    margin-top: 2rem;
    margin-left: 1rem;
}

.CollectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .3px solid #BEBCBD;
}

.CollectionHeader h3{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    margin: 0 !important;
}

.CollectionHeader i{
    margin-right: 1.5rem;
}

.CollectionTypes{
    border: 1px solid #BEBCBD;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.ByTypes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 3rem 1rem 3rem;
}
.ByTypes i {
    font-size: .6rem;
}
.ByTypes button{
    background: none;
    border: none;
}

.CollectionPrice{
    border: 1px solid #BEBCBD;
}

.CollectionPrice h3{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    margin: 0 !important;
}

.CollectionPriceButton{
    border: 1px solid #BEBCBD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem 1rem 0rem;
}


.CollectionPriceUp, .CollectionPriceDown, button{
    background: none;
    border-color:#BEBCBD ;
    padding: .5rem;   
}

.CollectionPriceUp button:hover{
    background-color: #DAD2BB;
    
}
.CollectionPriceDown button:hover{
    background-color: #DAD2BB;
}

.CollectionPriceUp button:active{
    background-color: #DAD2BB;
    
}
.CollectionPriceDown button:active{
    background-color: #DAD2BB;
}

.CollectionPriceUp button:focus{
    background-color: #DAD2BB;
    
}
.CollectionPriceDown button:focus{
    background-color: #DAD2BB;
}

.CollectionColorTitle{
    border: 1px solid #BEBCBD;
}

.CollectionColorTitle h3{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    margin: 0 !important;
}

.CollectionColorContainer{
    border: 1px solid #BEBCBD;
    display: flex;
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.CollectionRow{
    padding: 0rem .5rem 0rem .5rem !important ;
    justify-content: center;
}

/* Define styles for the color buttons */


.CollectionColorButton button {
    width: 30px;
    height: 30px;
    border: 1px solid #F4F1F1;
    border-radius: 30%;
    margin-top: 1.3rem;
    
    
}

/* Define styles for each color class */
.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.navy {
    background-color: navy;
}

.white {
    background-color: white;
}

.broom {
    background-color: #D2691E; /* Broom color, using its hexadecimal value */
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.CollectionSizeTitle{
    border: 1px solid #BEBCBD;
}

.CollectionSizeTitle h3{
    padding: .5rem 1rem .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    margin: 0 !important;
}
.CollectionSizesContainer{
    border: 1px solid #BEBCBD;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0rem 2rem 0rem;
}


.CollectionSizesRow{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem !important;
}
    

.CollectionSizesButton{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1rem;
}

.CollectionSizesButton button{
    padding: 0rem 1.5rem 0rem 1.5rem;
    border: 1px solid #BEBCBD;
    color: #BEBCBD;
    font-style: italic;
    font-weight: 100;
    border-radius: 10%;
    text-align: center;
    
}

.CollectionSizesButton button:hover{
    color: black;
    transition-duration: .2s;
}

.CollectionSizesButton button:focus{
    color: black;
    font-weight: 400;
}


.CollectionThirdHero{
    margin: 2rem;
    width: 80%;
}

.CollectionThirdSubTitle {
    text-align: end;
    margin-right: 5rem;
}

.CollectionThirdSubTitle a{
    font-size: 1rem;
    color: #BCCBBA;
    font-style: italic;
}

.CollectionThirdSubTitle a{
    text-decoration: none;
}

.CollectionThirdSubTitle a:hover{
    color: #3F4646;
}

.CollectionThirdSubTitle a:active{
    color: #3F4646;
}

.CollectionThirdSubTitle a:focus{
    color: #3F4646;
}

.CollectionFourthLayer{
    margin-top: 2rem;
}

.CollectionImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collectionpricecontainer{
    display: -webkit-box;
}

.collectionpricecontainer h3 {  
    margin-top: 2rem;
    font-size: .8rem;
    font-weight: bold;
    margin-inline-end: 6rem;
    font-family: 'Montserrat', sans-serif;
}

.CollectionImageCol span{
    font-size: .8rem;
}

/* Create Product Page */

.CreateMainContainer{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
}

.CreatePublishButton{
    display: flex;
    flex-direction: row-reverse; 
}

.CreatePublishButton button{
    margin-right: 1rem;
    font-size: .9rem;
}

.CreateSecondLayer{
    margin-left: 2rem;
}

.CreateSecondLayer h1{
    font-size: 2rem;
    color: #5A6D57;
    font-weight: bold;
}

.CreateSecondHero{
    margin-top: 5rem;
    display: block;
    overflow-y: hidden;
}

.CreateSecondHero p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.accordion{
    margin: 0rem 15rem 0rem 15rem;
    --bs-accordion-btn-focus-border-color: white !important;
    --bs-accordion-active-color: black !important;
    --bs-accordion-active-bg: white !important;
    --bs-accordion-btn-focus-box-shadow: white !important;
}
/* 

.CreateFirstElement span{
    font-weight: bold;
}


.CreateDetails p{
    margin-bottom: 0;
}

.CreateTitleForm input{
    padding-bottom: 3rem;
}


.form-control{
   background-color: #F9FAFB !important;
}

.CreateReminder{
    margin-top: 1.5rem;
}

.CreateReminder p{
    margin: 0;
}

.CreateReminder input{
    padding-bottom: 6rem;
} */

.CreateGenInfo{
    margin-bottom: 1rem;
}

.CreateDetails h3{
    font-size: 1rem;
    font-weight: bold;
}


.form-control{
    background-color: #F9FAFB !important;
    margin-top: 1rem;
 }

 .CreateReminder{
    margin-top: 1rem;
 }


.CreateProductOptionsTitle h3{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.CreateVariantComponents{
    margin-bottom: 1rem;
}

.CreateVariantComponentsRow select{
    margin-top: 1rem !important;
    background-color: #F9FAFB  !important;
}

.CreateColor .form-control{
    margin-top: 1.3rem !important;
    text-align: center;
}

.CreatePricingInput{
    padding-top: 1rem;
}

.CreatePricing{
    margin-bottom: 1rem;
}

label#largeFile:after {
    position: absolute;
    width: 40%;
    content: "Drop your product list file here, or click to browse" ;
    left: 0;
    right: 0;
    margin: 50px auto;
    text-align: center;
    border-radius: 8px;
    border: 1px dashed #ccc;
    color: #212529;
    font-size: 1rem;
    padding: 1.5rem 0rem;
  }
  
  label#largeFile:hover:after {
    border: 1px dashed #ccc !important;
    background-color: #C8CFC8;
    color: #212529;
    cursor: pointer;
  }
  
  label#largeFile input#file {
    background-color: rgb(99, 120, 131);
    width: 0px;
    height: 0px;
  }
  

  /* Profile */

  .ProfileMainContainer{
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    background-color: #A5A58D ;
    padding: 5rem 0rem;
  }

.ProfileFirstLayer h1{
    
    margin-bottom: 5rem;
    text-align: center;
}

.ProfileSecondLayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ProfileSecondLayer img{
    border-radius: 50%;
}

.ProfileSecondLayer label {
    margin-top: 1rem !important;
	width: 60vw;
	max-width: 300px;
	margin: 0 auto;
	background-color: #F9FAFB;
	border-radius: 2px;
	font-size: 1rem;
	line-height: 2.5em;
	text-align: center;
}

.ProfileSecondLayer label:hover {
	border: 1px solid #dee2e6;
}

.ProfileSecondLayer label:active {
	border: 1px solid #dee2e6;
}


.ProfileThirdLayer{
    margin: 0 20%;
    margin-top: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.ProfileAddress{
    margin-bottom: 1px;
}

.ProfileAddress textarea{
    margin-bottom: 3rem;
}

.ProfileAddress label{
    color:#9CA3AF;
    margin-left: .5rem;
    margin-top: .5rem;
}

.ProfileButtons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.ProfileButtons button{
    padding: .6rem 7rem;
    background-color: white;
    margin-right: 1rem;
    border-color:#9CA3AF !important ;
    color: black;
}

.ProfileButtons button:hover{
    color: black;
    background-color: #9CA3AF !important;
    border-color:#9CA3AF !important ;
}

